.content {
	z-index: 0;
	border-radius: 3px;
	margin: 2vh 11.5vw 2vh 11.5vw;
	padding: 1em;
	height: 92vh;
	background-color: white;
	text-align: center;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto auto;
}

.gridItem {
	background-color: white;
	padding: 20px 0;
	box-shadow: 0px 0px 18px 1px #888888 inset;
}

.ben {
	width: 450px;
	height: auto;
}
