.content {
	z-index: 0;
	margin-top: 1em;
	margin-left: 11vw;
	margin-right: 11vw;
	margin-bottom: 3em;
	padding: 1em;
	width: 78vw;
	text-align: "center";
	display: "inline-block";
}

.ben {
	width: 450px;
	height: auto;
}
