.rope {
	position: fixed;
	right: 10vw;
	top: -3vh;
	height: 75vh;
	width: auto;
	transition: top 0.3s;
	transition-timing-function: ease;
	z-index: 100;
}

.rope:hover {
	top: 0vh;
}

#rope {
	display: none;
}

#rope:checked + label > img {
	top: -50vh;
}

#rope:checked + label > img:hover {
	top: -47vh;
}
