.rope {
  position: fixed;
  right: 5vw;
  top: -3vh;
  transition: top 0.5s;
  transition-timing-function: ease;
  z-index: 100;
  height: 85vh;
}

.rope:hover {
  top: 0vh;
}

#rope {
  display: none;
}

#rope:checked + label>img {
  top: -75vh;
}

#rope:checked + label>img:hover {
  top: -72vh;
}

@keyframes ropeHover {
  from {
    top: 0;
  }
  to {
    top: -3vh;
  }
}

@keyframes ropeHoverChecked {
  from {
    top: -50vh;
  }
  to {
    top: -52vh;
  }
}
