.curtainVert {
	width: 100%;
	height: 100%;
	background-image: url("../Curtains/curtains.svg");
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
  transition-timing-function: ease;
	transition: top 0.7s;
}
