.curtainRight {
	width: 100vw;
	height: 100vh;
	background-image: url("../Curtains/curtains.svg");
	opacity: 1;
	position: fixed;
	top: 0;
	right: -50vw;
	z-index: 10;
	transition: right 1s;
	transition-timing-function: ease;
  overflow: hidden;
}
